<section data-ng-controller="CategoriesCtrl">
  <form class="form-inline">
    <input
      class="form-control"
      style="width: 200px;"
      placeholder="new category"
      data-ng-model="newCategoryName"
      />
    <button
      class="btn btn-default"
      data-ng-disabled="!newCategoryName"
      data-ng-click="submitCategory(newCategoryName)"
      >
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  </form>

  <ul>
    <li
      data-ng-repeat="category in categories">
        <button
          class="btn btn-xs btn-default"
          data-ng-click="deleteCategory(category)"
          >
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <a
          data-ng-href="#!/categories/{{category._id}}">
          {{ category.title }}
        </a>
      <div class="text-muted">
        <small>{{ category | json }}</small>
      </div>
    </li>
  </ul>
</section>